#about-container{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 17%;
    
}
.background-box{
    background-color: black;
    opacity: 0.8;
    
    border-radius: 10px;
    padding: 3%;
    margin-top: 0%;
}

#blog-image {
    max-height: 25%;
}

#brand{
    width: 30%;
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
}
.card {
    max-height: 440px;
    margin-bottom: 2%;

}

.card-body {
    margin-bottom: 10%;
}
.card-body body{
    margin-bottom: 10%;

}

#footer-row p{
    padding: 10px;
};

#home-card-body{
    /* position: relative; */
    /* text-align: left; */
    /* background-color: whitesmoke; */
    
    
    /* background-size: cover;  */
    max-height: 300px;
    margin-bottom: 2%;
}
#home-card-body p{
    max-width: 80%;
}
.jumbotron {
    max-height: 400px;
    margin-bottom: 3%;
    margin-top: 1%;
    background-image: url('https://media2.giphy.com/media/MFabj1E9mgUsqwVWHu/200w.webp?cid=ecf05e47zx25n66478so3xqebsu9r4s9k6dv9kja6zp1nt9b&rid=200w.webp');
    background-size: cover;
    color: white;
    font-weight: bolder;
    text-align: center;
}

#jumbo-sub-description{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    
}

#jumbo-sub-text{
    text-align: center;
    margin: auto;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.logo-background #logo {
    background-color: white;
    border-radius: 6%;
    width: 50%;

}

#nav-right {
    margin-right: 0px;
}

.navbar-nav {
    margin-right: 0px;
}

.navbar.navbar-dark form .md-form .form-control {
    color: black;
    margin-left: 10%;
}

#post-container {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#register-container{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
}

