#blog-image {
    max-height: 25%;
}

#brand{
    width: 30%;
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
}
.card {
    max-height: 440px;
    margin-bottom: 2%;

}

.card-body {
    margin-bottom: 10%;

}
.card-body body{
    margin-bottom: 10%;

}

#footer-row p{
    padding: 10px;
};

#home-card-body{
    position: relative;
    text-align: left;
    background-color: whitesmoke;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/19/05/28/bitcoin-3091789_1280.jpg?width=22%');
    background-size: cover; 
    max-height: 300px;
    margin-bottom: 2%;
}
#home-card-body p{
    max-width: 80%;
}
.jumbotron {
    max-height: 390px;
    margin-bottom: 2%;
    margin-top: 1%;
}

.logo-background #logo {
    background-color: white;
    border-radius: 6%;
    width: 50%;

}

#nav-right {
    margin-right: 0px;
}

.navbar-nav {
    margin-right: 0px;
}


#register-container{
    margin-top: 2%;
    margin-bottom: 2%;
}